[submodule "cpputils"]
	path = lib/cpputils
	url = https://github.com/astral-shining/cpputils.git
[submodule "glabs"]
	path = lib/glabs
	url = https://github.com/astral-shining/glabs.git
[submodule "ecs"]
	path = lib/ecs
	url = https://github.com/astral-shining/ecs.git
